@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../../../public/login2.webp) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.form {
    width: 420px;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.form h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}

.label {
    font-size: 16px;
}

.formItem {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    color: #487bd7;
}

.loginBtn {
    margin-left: 118px;
    width: 100px;
}

.footer {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    color: rgba(31, 31, 31, 0.8);
    background-color: transparent;
}

.footerIcon :hover {
    color: rgba(31, 31, 31, 0.6);
}

.footerIcon,
.footerText {
  margin-bottom: 5px; /* 根据需要调整间距 */
}

.footerIcon a {
  color: inherit; /* 让链接颜色和文本颜色一致，也可以设定特定颜色 */
  font-size: 24px; /* 根据需要调整图标大小 */
}