.topCardContainer {
    height: 25%;
    margin-bottom: 20px;
  }
  
  .bottomCardContainer {
    margin-top: 4%;
    height: 60%;
  }
  
  .ant-card {
    margin-bottom: 16px;
  }

  .hotSearchList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .hotSearchItem {
    font-size: medium;
    flex: 1 0 auto;
    /* width: 50%; */
    margin-bottom: 6px;
    padding: 5px;
  }

  .instructionItem {
    font-size: medium;
    flex: 1 0 auto;
    /* width: 50%; */
    margin-bottom: 0px;
    padding: 3px;
  }

  .welcomeList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; /* 将项目居中对齐 */
    justify-content: center; /* 将项目居中对齐 */
  }
  
  .welcomeItem {
    font-size: medium;
    flex: 1 0 auto;
    /* width: 50%; */
    margin-bottom: 0px;
    padding: 3px;
    display: flex; /* 添加 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  } 

  .innerCard {
    width: 90%;
  }

  .cardLink {
    color: #1890FF;
    text-decoration: none;
  }

  .cardLink:hover {
    color: #D1E9F9;
  }

  .cardColLabel {
    width: 50%;
    text-align: center;
    font-size: 18px;
  }

  .cardColCount {
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-style: italic;
  }
